<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand me-4" routerLink="/">User Management App</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li *ngIf="isActive" class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li *ngIf="isActive && role == 'Admin'" class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active"
            >Users</a
          >
        </li>
        <li *ngIf="isActive && role == 'Admin'" class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Users Registration</a
          >
        </li>
      </ul>

      <button class="btn btn-outline-light ms-auto" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>
